@charset "utf-8";
/* CSS Document */
html {
  box-sizing: border-box;
  
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  background-color: hsl(0, 0%, 81%);
  font-family: 'Barlow Semi Condensed', sans-serif;
}
.wrapper {
	width: 375px;
	margin: 0 auto;
}
main {
  display: grid;
  grid-template-columns: 365px;
  grid-template-rows: 300px 300px 300px 300px 300px;
  grid-row-gap: 16px;
}
header {
  display: grid;
  grid-template-columns: 80px 265px;
  grid-template-rows: 100%;
}
.card {
  padding: 20px;
  border-radius: 18px;
  line-height: 22px;
  box-shadow: 5px 10px 18px #888888;
}
.card img {
  border-radius: 50%;
  border: 1px solid #fff;
}
.card span {

  color: rgba(255, 255, 255, 0.5);
}
.bold {
  font-weight: bold;
  font-size: 1.3rem;
  line-height: 26px;
}
.quote {
  color: rgba(255, 255, 255, 0.5);
}
.daniel {
  grid-row-start: span 2;
  background-color: hsl(263, 55%, 52%);
  color: #fff;
}
.jonathan {
  background-color: hsl(217, 19%, 35%);
  color: #fff;
}
.jeanette {
  background-color: #fff;
  
}
.jeanette p {
  color: hsl(217, 19%, 35%);
}
.jeanette span {
  color: hsl(217, 19%, 35%);
}
.patrick {
  grid-row-start: span 2;
  background-color: hsl(219, 29%, 14%);
  color: #fff;
}
.kira {
  grid-row-start: span 2;
  background-color: #fff;
  
}
.kira p {
  color: hsl(217, 19%, 35%);
}
.kira span {
  color: hsl(217, 19%, 35%);
}


@media screen and (min-width: 1440px) {
    
	
	
}