@charset "utf-8";
/* CSS Document */
html {
  box-sizing: border-box;
  
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  background-color: hsl(0, 0%, 81%);
}
.wrapper {
	width: 375px;
	margin: 0 auto;
}
main {
  display: grid;
  grid-template-columns: 365px;
  grid-template-rows: 300px 300px 300px 300px 300px;
  grid-row-gap: 16px;
}
.card {
  padding: 20px;
  border-radius: 18px;
}
.card img {
  border-radius: 50%;
  border: 1px solid #fff;
}

.daniel {
  grid-row-start: span 2;
  background-color: hsl(263, 55%, 52%);
  color: #fff;
}
.jonathan {
  background-color: hsl(217, 19%, 35%);
  color: #fff;
}
.jeanette {
  background-color: #fff;
}
.patrick {
  grid-row-start: span 2;
  background-color: hsl(219, 29%, 14%);
  color: #fff;
}
.kira {
  grid-row-start: span 2;
  background-color: #fff;
}

@media screen and (min-width: 1440px) {
    
	
	
}