@charset "utf-8";
/* CSS Document */
html {
  box-sizing: border-box;
  
}
*, *:before, *:after {
  box-sizing: inherit;
}
.wrapper {
	width: 375px;
	margin: 0 auto;
}





@media screen and (min-width: 1440px) {
    
	
	
}